{% extends "nodes/base.html" %}

{% block content %}

{% load static %}

<div class="full-notify"></div>
<div class="node_tbl_cnt">
    <h1 class="tbl_header">Create rack</h1>
    <div class="unit_dtl_main_conteiner">
        <form id="create_rack_form" action="{% url 'nodes:create_rack' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
    <input form="create_rack_form" type="submit" value="Submit">
</div>

{% if messages %}
{% for message in messages %}
    <script>
        $N('{{message}}').setStyle('{{message.tags}}').setAge(1500).show('.full-notify');
    </script>
  {% endfor %}
{% endif %}

{% endblock content %}
