{% extends "nodes/base.html" %}

{% block content %}

{% load static %}

<div class="full-notify"></div>
<div class="node_tbl_cnt_sml wdth_40_prc">
    <h1 class="tbl_header">Create rack</h1>
    <div class="unit_dtl_main_conteiner">
        {% if role <= 2 %}
            <label for="submit" class="custom-submit">
                <i class="green-icon small material-icons">done</i>
            </label>
            <input id="submit" form="create_rack_form" type="submit" value="Submit">
        {% endif %}
        <form id="create_rack_form" action="{% url 'nodes:create_rack' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>
</div>

{% if messages %}
{% for message in messages %}
    <script>
        $N('{{message}}').setStyle('{{message.tags}}').setAge(1500).show('.full-notify');
    </script>
  {% endfor %}
{% endif %}

{% endblock content %}
