{% extends "nodes/base.html" %}

{% block content %}

{% load static %}
<div class="absl_pos">
    {% if role < 3 %}
    <!--
        <a class="my_lnk modal-trigger" href="#confirm-delete" data-href="{% url 'nodes:delete_rack' rack_id %}"><div id="del_btn" class="flask_del_btn">Удалить стойку</div></a>
        -->
    {% endif %}
</div>

<div class="tbl_header">{{ location }}</div>


<div class="modal" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true" style="max-height: 90%;">
  <div class="modal-dialog modal-lg modal_div">
    <div class="modal-content brd_none">
    </div>
  </div>
</div>

<div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <h4>Подтверждение удаления</h4>
           Удалить стойку :  " {{ location }} "
           <div class="modal-footer">
                <a class="btn btn-danger" style="color:white;" href="{% url 'nodes:delete_rack' rack_id %}">Удалить!</a>
            </div>
        </div>
    </div>
</div>

<div class="node_tbl_cnt">
    <div class="table_container">
        <div id="example-table"></div>
    </div>
</div>

<script>

var sorterParams = 'number'
    var path = window.location.pathname
    var rack_id = path.split('/').pop()
	var table = new Tabulator("#example-table", {
            ajaxURL: "/nodes/rack_to_json/" + rack_id,
            columns:[
                {title:"U", field:"unit_num", hozAlign:"left", headerHozAlign:"left", width:10, formatter:"html", headerFilter:true, sorter:function(a, b, aRow, bRow, column, dir, sorterParams){
                    a = a.replace(/<(.|\n)*?>/g, '');
                    b = b.replace(/<(.|\n)*?>/g, '');
                    return a - b;
                }},
                {title:"Node", field:"model", hozAlign:"left", sorter:"string", width:190, formatter:"html", headerFilter:true},
                {title:"Mng ip", field:"mng_ip", headerSort:false, width:120, formatter:"html", headerFilter:true},
                {title:"Ipmi/BMC", field:"ipmi", headerSort:false, width:120, formatter:"html", headerFilter:true},
                {title:"Console", field:"console", width:60, headerSort:false, formatter:"html", headerFilter:true},
                {title:"Owner", field:"owner", sorter:"string", width:145, headerFilter:true},
                {title:"Exp.", field:"exp", headerSort:false, sorter:"string", width:45, headerFilter:true},
                {title:"Sn", field:"sn", headerSort:false, width:120, headerFilter:true},
                {title:"Appliance", field:"appliance", sorter:"string", width:300, headerFilter:true},
                {title:"Ram", field:"ram", sorter:"number", width:60, headerFilter:true},
                {title:"Vendor", field:"vendor", sorter:"string", width:80, headerFilter:true},
                {title:"Model", field:"vendor_model", sorter:"string", width:130, headerFilter:true},
                {title:"Pwr", field:"pwr", sorter:"string", width:50, headerFilter:true},
                {title:"Int", field:"int", sorter:"string", width:165, formatter:"html", headerFilter:true},
                {title:"Comment", field:"comment", headerSort:false, width:190, formatter:"html", headerFilter:true},
            ],
        });

$(document).ready(function(){
    $(document).click(function (e) {
        var elem = e.target
        if((!$(elem).hasClass('collapsible-header')) && (!$(elem).hasClass('collapsible-body'))) {
            $('.collapsible-body').hide()
        }
    });
    var elem = $('#create-modal')
    var instances = M.Modal.init(elem, {onOpenStart: function() {
        url = "{% url 'nodes:rack_visual' rack_id %}"
        $('#create-modal .modal-content').load(url)
    }, endingTop: '5%'});




$('#create-modal').on('show.bs.modal', function (e) {
    url = "{% url 'nodes:rack_visual' rack_id %}"
    //url = url.replace('48', $(e.relatedTarget).attr('value'))
    $('#create-modal .modal-content').load(url)
})

$('#create-modal').on('hidden.bs.modal', function (e) {
    $('#create-modal .modal-content').empty()
})


$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-danger').attr('href', $(e.relatedTarget).data('href'));
});

        setTimeout(function(){
            $('.collapsible').collapsible();

            $('.collapsible-header').click(function(e) {
                var elem = e.target
                var elem_body = $(elem).siblings('.collapsible-body')
                $('.collapsible-body').each(function() {
                    if (!$(this).is(elem_body)) {
                        $(this).hide()
                    }
                })
            })

            $('.tabulator-cell').click(function (){
                var selection = window.getSelection();
                if(selection.type != "Range"){
                    if ($(this).attr('tabulator-field') == 'model') {
                        if ($(this).text().indexOf("used by") >= 0) {
                            window.unit_num = $(this).text().split("U")[1]
                            var curr = window.location.pathname
                            var url =  curr + '/unit_detail/' + window.unit_num
                            $(location).attr('href', url)
                            return
                        }
                    }



            if ($(this).attr('tabulator-field') != 'comment') {
                var sibl = $(this).siblings()
                $(this).siblings().each(function() {
                    if ($(this).attr('tabulator-field') == 'unit_num') {
                        window.unit_num =$(this).first().text()
                    }
                    if ($(this).attr('tabulator-field') == 'model') {
                        if ($(this).text().indexOf("used by") >= 0) {
                            window.unit_num = $(this).text().split("U")[1]
                        }
                    }

                })
                var curr = window.location.pathname
                var url =  curr + '/unit_detail/' + window.unit_num
                $(location).attr('href', url)
                }
            }
    })

    $('.tabulator-cell').dblclick(function (){
        if ($(this).attr('tabulator-field') == 'comment') {
            $(this).siblings().each(function() {
                if ($(this).attr('tabulator-field') == 'unit_num') {
                    var unit_num =$(this).first().text()
                    var curr = window.location.pathname
                    var url =  curr + '/unit_detail/' + unit_num
                    $(location).attr('href', url)
                }
            })
        }
    })

    }, 300);

    $(document).keyup(function (e) {
        $('input[type="search"]').each(function() {
            if ($(this).val()) {
                $(this).addClass('has_val')
            }else{
                $(this).removeClass('has_val')
           }
         })
    });
});
</script>


{% endblock content %}
