{% extends "nodes/base.html" %}

{% block content %}

{% load static %}
<div class="pstn_adv_btn">
    {% if role < 3 %}
        <a class="my_lnk modal-trigger" href="#confirm-delete" data-href="{% url 'nodes:delete_rack' rack_id %}"><div id="del_btn" class="edit_red_btn">Delete</div></a>
    {% endif %}
</div>
<div class="node_tbl_cnt">
    <div class="tbl_header">{{ location }}</div>
    <div class="table_container">
    <table class="nbs_table">
	    <thead>
		    <tr>
			    <td class="rack_tbl">U</td>
			    <td>Node</td>
                <td>Status</td>
                <td>Mng ip</td>
			    <td>Owner</td>
                <td>Appliance</td>
                <td>Inf</td>
                <td>Comment</td>
		    </tr>
	    </thead>
	    <tbody class="section">
        {% for item in u_list %}
                <tr>
                    {% if item.unit_num in units_used %}
                    <td class="rack_tbl"><span class="in_used">U{{item.unit_num}}</span></td>
                    {% else %}
                        <td class="rack_tbl">U{{item.unit_num}}</td>
                    {% endif %}
                    {% if item.used_by_unit %}
                        <td class="not_active">U{{item.used_by_unit}}</td>
                    {% elif item.model == None %}
                        <td class="rack_tbl"><a class="flx_cntr hght_100_prc my_lnk" href="{% url 'nodes:unit_detail' rack_id item.unit_num %}">empty</a></td>
                    {% else %}
                        {% if item.model.units_takes > 1 %}
                            {% if item.hostname %}
                                <td class="rack_tbl with_model"><a class="bold flx_cntr hght_100_prc my_lnk" href="{% url 'nodes:unit_detail' rack_id item.unit_num %}">{{item.model}}@{{item.hostname}} ({{item.model.units_takes}}U)</a></td>
                            {% else %}
                                <td class="rack_tbl with_model bold"><a class="bold flx_cntr hght_100_prc my_lnk" href="{% url 'nodes:unit_detail' rack_id item.unit_num %}">{{item.model}}{{item.hostname}} ({{item.model.units_takes}}U)</a></td>
                            {% endif %}
                        {% else %}
                                {% if item.hostname %}
                                    <td class="rack_tbl with_model"><a class="bold flx_cntr hght_100_prc my_lnk" href="{% url 'nodes:unit_detail' rack_id item.unit_num %}">{{item.model}}@{{item.hostname}}</a></td>
                                {% else %}
                                    <td class="rack_tbl with_model"><a class="bold flx_cntr hght_100_prc my_lnk" href="{% url 'nodes:unit_detail' rack_id item.unit_num %}">{{item.model}}{{item.hostname}}</a></td>
                                {% endif %}
                        {% endif %}
                    {% endif%}
                    {% if item.mng_ip %}
                        {% if item.is_avaliable %}
                            <td>
                                <div class="green_status"></div>
                            </td>
                        {% else %}
                            <td>
                                <div class="red_status"></div>
                            </td>
                        {% endif %}
                        <td>{{item.mng_ip}}</td>
                    {% else %}
                        <td>
                            <div class="none_status"></div>
                        </td>
                        <td></td>
                    {% endif %}
                    {% if item.owner == None %}
                        <td></td>
                    {% else %}
                        <td>{{item.owner}}</td>
                    {% endif %}
                    {% if item.appliance == None %}
                        <td></td>
                    {% else %}
                        <td>{{item.appliance}}</td>
                    {% endif %}

                    {% if item.model %}
                        <td class="unit_detail_modal psn_rltv" data-toggle="modal" data-target="#create-modal" value="{{item.unit_num}}">
                            <div class="inf_btn" >
                                <span>i</span>
                                <br><br>
                                U{{item.unit_num}}
                                <br><br><br>
                                <p><label for="id_model">Model:</label> <input type="text" name="model" value="{{item.model}}" required="" disabled="" id="id_model"></p>
                                <p><label for="id_vendor">Vendor:</label> <input type="text" name="vendor" value="{{item.vendor}}" required="" disabled="" id="id_vendor"></p>
                                <p><label for="id_vendor_model">Vendor model:</label> <input type="text" name="vendor_model" value="{{item.vendor_model}}" required="" disabled="" id="id_vendor_model"></p>
                                <p><label for="id_power">Power:</label> <input type="text" name="power" value="{{item.power}}" required="" disabled="" id="id_power"></p>
                                <p><label for="id_appliance">Appliance:</label> <input type="text" name="appliance" value="{{item.appliance}}" required="" disabled="" id="id_appliance"></p>
                                <p><label for="id_ram">Ram:</label> <input type="text" name="ram" value="{{item.ram}}" required="" disabled="" id="id_ram"></p>
                                <p><label for="id_sn">Sn:</label> <input type="text" name="sn" value="{{item.sn}}" required="" disabled="" id="id_sn"></p>
                                <p><label for="id_comment">Comment:</label> <textarea class="no_rsz invisible-scrollbar" name="comment"  cols="30" rows="12" disabled="" id="id_comment">{{item.comment}}</textarea></p>
                           </div>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    {% if item.comment == None %}
                        <td class="comment"></td>
                    {% else %}
                        <td class="comment">{{item.comment}}</td>
                    {% endif %}
                </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>


<div class="modal" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal_div">
    <div class="modal-content brd_none">
    </div>
  </div>
</div>

<div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           <h4>Delete confirmation</h4>
           Delete Rack on = {{ location }} =
           <div class="modal-footer">
                <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" style="color:white;" href="{% url 'nodes:delete_rack' rack_id %}">Delete</a>
            </div>
        </div>
    </div>
</div>


<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->
<script>


  // Or with jQuery

  $(document).ready(function(){
    $('.modal').modal();
  });

$( document ).ready(function() {

  $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="popover"]').popover();
    })


    autosize();
    function autosize(){
        var text = $('.autosize');

        text.each(function(){
            $(this).attr('rows',1);
            resize($(this));
        });

        text.on('input', function(){
            resize($(this));
        });

        function resize ($text) {
            $text.css('height', 'auto');
            $text.css('height', $text[0].scrollHeight+'px');
        }
    }

});




$('#create-modal').on('show.bs.modal', function (e) {
    url = "{% url 'nodes:bs_unit_detail' rack_id 48 %}"
    url = url.replace('48', $(e.relatedTarget).attr('value'))
    $('#create-modal .modal-content').load(url)
})

$('#create-modal').on('hidden.bs.modal', function (e) {
    $('#create-modal .modal-content').empty()
})

$('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('.btn-danger').attr('href', $(e.relatedTarget).data('href'));
});

$('#mypop').on('shown.bs.popover', function (e) {
    alert('ffff')
})

</script>


{% endblock content %}
