{% extends "nodes/base.html" %}

{% block content %}

{% load static %}

<div class="search">
    <div class="small_tbl_cnt_search">
        <h2 class="tbl_header">Поиск</h2>
        <div class="unit_dtl_main_conteiner is_submit">
            {% if role <= 2 %}
                <label for="submit" class="custom-submit">
                    <i class="green-icon small material-icons">done</i>
                </label>
                <input id="submit" form="search_form" type="submit" value="Submit">
            {% endif %}
            <form id="search_form" action="{% url 'nodes:search'%}" method="post">
                {% csrf_token %}
                {{ form_without_csv.as_p }}
            </form>
        </div>
</div>
<div class="small_tbl_cnt_search">
    <h2 class="tbl_header">Результаты</h2>
    <div id="result" class="unit_dtl_main_conteiner">
        {% if request.method == 'POST' %}
            {% if qs.count %}
                <form id="form_csv" class="fnt_sz_14" action="{% url 'nodes:csv_view' %}" method="post" hidden>
                    {% csrf_token %}
                    {{ form_csv.as_p }}
                </form>
                <input type="Submit" value="Export to CSV" form="form_csv" class="mrg_tp_20px">
            {% endif %}
            <h2 class="tbl_header">Count {{ qs.count }}</h2>
        {% endif %}
        <ul>
            {% for q in qs %}
                <a href="{% url 'nodes:unit_detail' q.rack_id q.unit_num %}">
                    <li class="rack_list">
                        <span>{{ q }}</span>
                        {% if q.mng_ip %}
                            {% if q.is_avaliable %}
                                <div class="green_status"></div>
                            {% else%}
                                <div class="red_status"></div>
                            {% endif %}
                        {% else %}
                            <div class="none_status"></div>
                        {% endif %}
                        {% if q.ipmi_bmc %}
                             {% if q.ipmi_is_avaliable %}
                                <div class="green_status"></div>
                            {% else %}
                                <div class="red_status"></div>
                            {% endif %}
                        {% else %}
                                 {% if q.has_ipmi%}
                                    <td>
                                        <div class="blue_status"></div>
                                    </td>
                                {% else %}
                                    <td>
                                        <div class="empty_status"></div>
                                    </td>
                                {% endif %}
                        {% endif %}
                        {% if q.owner %}
                            <span> {{q.owner}}</span>
                        {% endif %}
                    </li>
                </a>
            {% empty %}
                {% if request.method != 'POST' %}
                    <h2 class="tbl_header">There are no results yet</h2>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    $(document).ready(function(){
        if ($( window ).width() < 750) {
            {% if request.method == 'POST' %}
                window.scrollTo({
                    top: 500,
                    behavior: "smooth"
                });
            {% endif %}
            $('input[type="text"]').outerWidth(75, false);
            $('select').outerWidth(75, false);
            $('textarea').outerWidth(75, false);
            $('.select2-container').outerWidth(75, false);
            $('.custom-submit').offset({left: 0}).outerWidth(30, false);
            $('.unit_dtl_main_conteiner').css({'padding-right': '0px', 'padding-left': '30px', 'margin-left': '0px'});
            $('.small_tbl_cnt_search').css('margin-left', '40px')
            $('.search').css('display', 'inline-block');
            $('.small_tbl_cnt_search').outerWidth('85%')
            var elem_height = $('.unit_dtl_main_conteiner').outerHeight( false )
            var pos = $('.unit_dtl_main_conteiner').position()
            if (pos) {
                $('.custom-submit').outerHeight(elem_height, false)
            }
        }
    });
</script>

{% endblock content %}
