{% extends "nodes/base.html" %}

{% block content %}

{% load static %}

<script type="text/javascript" src="{% static 'nodes/js/jquery-3.6.0.min.js' %}"></script>

<div class="search">
    <div class="small_tbl_cnt_search">
        <h2 class="tbl_header">Search</h2>
        <div class="unit_dtl_main_conteiner">
            <form action="{% url 'nodes:search'%}" method="post">
                {% csrf_token %}
                {{ form_without_csv.as_p }}
        </div>
        <input type="Submit" value="Search">
        </form>
</div>
<div class="small_tbl_cnt_search">
    <h2 class="tbl_header">Result</h2>
    <div id="result" class="unit_dtl_main_conteiner">
        {% if request.method == 'POST' %}
            {% if qs.count %}
                <form id="form_csv" class="fnt_sz_14" action="{% url 'nodes:csv_view' %}" method="post" hidden>
                    {% csrf_token %}
                    {{ form_csv.as_p }}
                </form>
                <input type="Submit" value="Export to CSV" form="form_csv">
            {% endif %}
            <h2 class="tbl_header">Count {{ qs.count }}</h2>
        {% endif %}
        <ul>
            {% for q in qs %}
                <a href="{% url 'nodes:unit_detail' q.rack_id q.unit_num %}">
                    <li class="rack_list">
                        <span>{{ q }}</span>
                        {% if q.mng_ip %}
                            {% if q.is_avaliable %}
                                <div class="green_status"></div>
                            {% else%}
                                <div class="red_status"></div>
                            {% endif %}
                        {% else %}
                            <div class="none_status"></div>
                        {% endif %}
                        {% if q.ipmi %}
                             <div class="gray_status"></div>
                        {% else %}
                            <div class="none_status"></div>
                        {% endif %}
                        {% if q.owner %}
                            <span> {{q.owner}}</span>
                        {% endif %}
                    </li>
                </a>
            {% empty %}
                {% if request.method != 'POST' %}
                    <h2 class="tbl_header">There are no results yet</h2>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
</div>
{% endblock content %}
