{% extends "advertisements/base.html" %}

{% block content %}

{% load static %}

<a href="{% url 'adv:advs' %}"><div class="left_top_fixed">Advs</div></a>

    {% if request.user ==  adv.author%}
        <a href="{% url 'adv:adv_edit' adv.id %}"><div id="{{adv.id}}" class="adv_edit">Edit</div></a>
      <!--  <a href="{% url 'adv:adv_del' adv.id %}"><div id="{{adv.id}}" class="adv_del">Delete</div></a>  -->
        <a><div id="del_btn" class="adv_del">Delete</div></a>
    {% endif %}
    <div class="main_conteiner stndr_div">
        <div class="flx">
            <div class="text_scroll lnk_hl">
                {{adv.text|safe}}
            </div>
        </div>
        {% if adv.image %}
            {% if adv.image.height > 900 or adv.image.width > 1440 %}
                <img src="{{ adv.image.url }}" width="1440" height="900">
            {% else %}
                <img src="{{ adv.image.url }}">
            {% endif %}
        {% endif %}
        <p class="athr_sgn">
                {% for tag in adv.tags.all %}
                    #{{tag}}
                {% endfor %}
        </p>
        <p class="athr_sgn">
            {% if adv.expired_date %}
                expired: {{adv.expired_date}}
            {% endif %}
        </p>
        <span class="athr_sgn">@{{adv.author}}</span>
    </div>

<script>
    $('#del_btn').click(function() {
        var answer = window.confirm("Sure?")
        if (answer) {
            window.location.replace("{% url 'adv:adv_del' adv.id %}")
        }else {}
    });
</script>


{% endblock content %}
