{% extends "nodes/base.html" %}

{% block content %}

{% load static %}

<h1 class="tbl_header">Advertisements</h1>
<div class="dsp_flx_spc mrgn_tp_50px">
  {% for adv in advs %}
    {% if now == adv.release_date|date:'Y-m-d' %}
        <a class="single_adv flx_3_clm my_lnk today_adv" href="{% url 'adv:adv_detail' adv.id %}">
    {% else %}
        <a class="single_adv flx_3_clm my_lnk" href="{% url 'adv:adv_detail' adv.id %}">
    {% endif %}
        <div>
            <div class="cnt_adv_text">
                <span class="adv_text">{{adv.text|striptags}}</span>
            </div>
        <br>
        {% if adv.image %}
            <p class="athr_sgn">
                + images...
            </p>
        {% endif %}
        <p class="athr_sgn">
            {% for tag in adv.tags.all %}
                #{{tag}}
            {% endfor %}
        </p>
        <p class="athr_sgn">
            {% if adv.expired_date %}
                expired: {{adv.expired_date}}
            {% endif %}
        </p>
            <p class="athr_sgn">
                released: {{adv.release_date}}
            </p>
        <span class="athr_sgn">@{{adv.author}}</span>
        </div>
    </a>
  {% endfor %}
</div>


<script>
    $( document ).ready(function() {
        $('.adv_edit').click(function(){
            var elemId = $(this).attr('id');
            var url = "{% url 'adv:adv_edit' 1 %}"
            url = url.replace('1', elemId);
            window.location.href=url;
        });
    })
</script>

{% endblock content %}
