@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.notiser {
    text-align: center;
    color: white;
    padding: 15px 15px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 0 15px #7b7a7a;
}

.notiser.success {
  background-color: #31B893;
}

.notiser.warning {
  background-color: #D66882;
}

.notiser.basic {
  background-color: #d0d3d3;
}
