{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nodes/style.css' %}">

{% block content %}

<a href="{% url 'users:profile' %}"><div class="left_top_fixed">Profile</div></a>
<div class="small_tbl_cnt">
    <h1 class="tbl_header">Change password</h1>
    <div class="unit_dtl_main_conteiner">
        <form method="post" action="{% url 'users:password_change' %}">
            {% csrf_token %}
            {{ form.as_p }}
    </div>
    <input type="submit" value="Change">
    <input type="hidden" name="next" value="{% url 'nodes:rack_list' %}" />
  </form>
</div>
{% endblock content %}
