{% extends "nodes/base.html" %}

{% block content %}

{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'nodes/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/iao-alert.css' %}">
<script type="text/javascript" src="{% static 'nodes/js/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/iao-alert.jquery.js' %}"></script>

{% if messages %}
{% for message in messages %}
    <script>
        $.iaoAlert({
            type:"success",
            msg:"Done!",
            autoHide: true,
            position: 'top',
            alertTime: "1500",
            roundedCorner: true,
            closeOnClick: true,
            mode: 'dark',
        })
    </script>
  {% endfor %}
{% endif %}

<a href="{% url 'nodes:rack' rack_id %}"><div class="left_top_fixed">Rack</div></a>
<div class="node_tbl_cnt">
    <h1 class="tbl_header">U{{ unit_num }}</h1>
    <div class="unit_dtl_main_conteiner hght_60_prc">
        <form class="frm_unit_dtl fnt_sz_14" action="{% url 'nodes:unit_detail' rack_id unit_num %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
    </div>
{% if perms.nodes.can_edit_unit %}
    <input type="submit" value="Submit">
{% endif %}
</form>
</div>

{% endblock content %}
